<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<main class="main">
  <button *ngIf="!isPersian" (click)="changeLanguage()">
    {{ "تاریخ شمسی" }}
  </button>
  <!-- <button *ngIf="isPersian" (click)="changeLanguage()">{{ isPersian? 'نمایش تاریخ میلادی': 'تاریخ شمسی' }}</button> -->
  <button *ngIf="isPersian" (click)="changeLanguage()">
    {{ "نمایش تاریخ میلادی" }}
  </button>
  <div class="content" [dir]="isPersian ? 'rtl' : 'lrt'">
    <nz-date-picker
      (ngModelChange)="onChange($event)"
    ></nz-date-picker>
    <br />
    <br />

    <nz-range-picker
      [nzRanges]="ranges"
      ngModel
      (ngModelChange)="onChange($event)"
    ></nz-range-picker>
  </div>
</main>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder  * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<router-outlet></router-outlet>
